body {
    color: rgb(142, 9, 9);
}

table {
    border: 1px solid black;
    background-image: url("../img/istockphoto-1388281684-612x612.jpg");
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 0 10px;
}

table {
    background-color: #FFFFCC;
}

.green-td {
    background-color: #669966;
}

.orange-td {
    background-color: #FFCC99;
}